.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 20px;
  border-bottom: 1px solid #ccc;
}
.count {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 25px;
  color: white;
  background-color: #fc8a06;
}
.price {
  color: green;
}
.name {
  font-size: 16px;
}
.description {
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: 400;
}
.delete {
  font-size: 30px;
  color: #67087a;
  cursor: pointer;
}
