.mainSection {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
}
.search {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 10px;
  border: 1px solid #03081f;
  border-radius: 50px;
}
.search input {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
}
.search img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1124px) {
  .content {
    display: grid;
  }
  .header h2 {
    font-size: 20px;
  }
}
